<div class="row my-3 mx-auto">
  <div class="col-md-3 p-0 avatars bg-dark">
    <a href="#" data-tooltip="Person 1" data-placement="top">
    <img alt="Grandfather with child" src="http://simhost.org/uploads/posts/2017-01/thumbs/1485457017_cgauz6dotia.jpg" class="card-img-top">
  </a>
  </div>
  <div class="col-md-9 pt-3 bg-dark">
    <h3>{{film.name_film}}</h3>
    <fieldset class="rating">
      <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
      <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
      <input type="radio" id="star4" name="rating" value="4" checked /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
      <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
      <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
      <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
      <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
      <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
      <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
      <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    </fieldset>
    <p class="card-text">
      Год 7756
    </p>
    <p class="card-text">
      Жанр: уляпуля
    </p>
    <p class="card-text">
      Set in the small town of Devil's Gate, North Dakota, the film examines the disappearance of a local woman (Regan) and her young son. Schull plays an FBI345345...
    </p>
    <a class="btn btn-danger" href="/contact/">Смотреть</a>
  </div>
</div>
