.block{
  height: 200px;
  width: 250px;
  margin: 50px 15px;
  background: gray;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.left-panel{

  background-color: #1e262d;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}

.right-panel{

}

.container{
  margin: 3%;
}
* {
  margin:0;

}

